## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio
.vs/
*.rsuser
*.csproj.user

## Rider
.idea/

## OS
.DS_Store
Thumbs.db

## Test Results
TestResults/
coverage/
